


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disaster Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alerts.css') }}">
    <script src="{{ url_for('static', filename='js/alerts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    
    <!-- Header with logo -->
    <header>
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
    </header>

    <!-- Navigation bar -->
    <nav>
        <ul>
            <li><a href="{{ url_for('home1') }}">home1</a></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('main.generate_alert_route') }}">Alerts</a></li>
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
    </nav>

    <!-- Dynamic content block -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Disaster Management System</p>
    </footer>

    <!-- JavaScript files -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

   




</body>
</html>
